<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/details.css' />
    </head>
    <body>
    <nav>
        <% if (user) { %>
        <div><a href="/shoes"style="color: white">Home</a></div>
        <div><a href="/profile/<%= user._id %>"style="color: white">My Profile</a></div>
        <div><a href="/shoes/new"style="color: white" >Add post</a></div>
        <div class="logo "><img src="https://i.imgur.com/N1YQuge.png"></div>
        <div><a href="/logout"style="color: white">LOG OUT</a></div>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
      </nav>
  
  <div>SUBJECT:</div>
  <div><%= shoe.subject %></div>
  <div>BODY: </div>
  <div><%= shoe.body %></div>
</section>
  <form action="/../shoes/<%= shoe.id %>?_method=DELETE"
    id="delete-form" method="POST">
    <button type="submit">delete</button>
  </form>
    <form action="../shoes/<%= shoe._id %>?_method=PUT" method="POST">
      <!-- Value attribute is being set to the comment's current text -->
      <a href="/shoes/<%=shoe._id%>/edit ">UPDATE POST</a>
    </form>



    <h2>COMMENTS</h2>
<form action="/shoes/<%= shoe._id %>/comments" method="POST">
  <label>Comment:</label>
  <textarea name="content"></textarea>
  <input type="submit" value="Add Comment">
</form>
      


    