<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/details.css' />
    </head>
    <nav>
        <% if (user) { %>
          <div class = "nbar"><a href="/shoes"style="color: white"><img src="https://i.imgur.com/glXHmRR.png" width="30"></div>
        <div class = "nbar"><a href="/profile/<%= user._id %>"style="color: white">Profile</a></div>
        <div class = "nbar"><a href="/shoes/new"style="color: white" >+ Post</a></div>
        <div class="nbar"><img src="https://i.imgur.com/N1YQuge.png" width="80" ></div>
        <div class = "nbar"><a href="/logout"style="color: white">LOG OUT</a></div>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
      </nav>
  <body>
  <div><a id="subText" style="color: white">SUBJECT:</a></div>
  <div><a class="details center" style="color: white"><%= shoe.subject %></a></div>
  <div><a id="bodText" style="color: white"></a>BODY:</a></div>
  <div><a class="details2 center" style="color: white"><%= shoe.body %></a></div>
</section>
<section class= "dellup">
  <form action="/../shoes/<%= shoe.id %>?_method=DELETE"
    id="delete-form" method="POST">
    <button class="btn" type="submit">delete</button>
    <form action="../shoes/<%= shoe._id %>?_method=PUT" method="POST">
      <a id="update" type="submit" href="/shoes/<%=shoe._id%>/edit ">UPDATE POST</a>
    </form>
  </form>
  </section>


    <h2><a style="color: white">COMMENTS</a></h2>
<form action="/shoes/<%= shoe._id %>/comments" method="POST">
  <label><a style="color: white"></a>Comment:</a></label>
  <textarea name="content"></textarea>
  <input type="submit" value="Add Comment">
</form>
</body>      


    